{% extends "../base.html" %}

{% block container %}
  <div>
    <header class="center px3 py4 white mb4 relative hero">
      <div class="relative z2">
        <h1 class="h1 caps mt4 mb0">Utopia Framework</h1>
        <p class="h3 mt1 mb2">Extensible HTTP server toolkit for Luvit I/O</p>
        <div class="mb4 mt3 mx-auto full-width">
          <a href="https://github.com/luvitrocks/utopia/#install" className="inline-block h5 button button-outline button-big white mr3 px3 b2 ultra-rounded">View on GitHub</a>
          <a href="#Examples" className="inline-block h5 button button-big bg-white px3 ultra-rounded" style="color: #fe9f64;">Check Examples</a>
        </div>
      </div>
    </header>
  </div>
{% endblock %}
